version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    groups:
      gomod:
        patterns:
          - "*"
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "k8s.io/*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
      - dependency-name: "*.k8s.io/*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
