# Copyright Contributors to the Open Cluster Management project

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

name: Create Release

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

        # Ref: https://github.com/actions/checkout/issues/290
      - name: Fetch annotated tag
        run: |
          git fetch origin ${{ github.ref }}:${{ github.ref }} --tags --force

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build project
        run: |
          make build-release

      - name: Release
        uses: softprops/action-gh-release@v2.0.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: build_output/*-PolicyGenerator*
          generate_release_notes: true
          draft: true
          prerelease: false
